In [1]:
import pandas as pd

In [2]:
green_prefix = 'https://d37ci6vzurychx.cloudfront.net/trip-data' 
green_url = f'{green_prefix}/green_tripdata_2025-11.parquet'
green_url

'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet'

In [3]:
zones_prefix = 'https://github.com/DataTalksClub/nyc-tlc-data'
zones_url = f'{zones_prefix}/releases/download/misc/taxi_zone_lookup.csv'
zones_url

'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'

In [4]:
df_green = pd.read_parquet(green_url)

In [7]:
to_int = ["VendorID", "PULocationID", "DOLocationID", "RatecodeID", "passenger_count", "payment_type", "trip_type"]   

df_green[to_int] = df_green[to_int].astype("Int64")

df_green["store_and_fwd_flag"] = df_green["store_and_fwd_flag"].astype("string")

In [8]:
df_green.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1,74,42,1,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1,1,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1,74,42,2,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2,1,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1,83,160,1,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1,1,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1,166,127,1,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1,1,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1,166,262,1,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1,1,2.75,0.0

In [10]:
zones_dtype= {
    "LocationID": "Int64",
    "Borough": "string",
    "Zone": "string",
    "service_zone": "string"
}

df_zones= pd.read_csv(
    zones_url,
    dtype=zones_dtype)

In [16]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [20]:
!uv add sqlalchemy

Resolved 117 packages in 2.32s
Prepared 2 packages in 507ms
░░░░░░░░░░░░░░░░░░░░ [0/2] Installing wheels...                                 warning: Failed to hardlink files; falling back to full copy. This may lead to degraded performance.
         If the cache and target directories are on different filesystems, hardlinking may not be supported.
         If this is intentional, set `export UV_LINK_MODE=copy` or use `--link-mode=copy` to suppress this warning.
Installed 2 packages in 48ms
 + greenlet==3.3.1
 + sqlalchemy==2.0.46

In [21]:
 !uv add psycopg2-binary

Resolved 118 packages in 488ms
Prepared 1 package in 542ms
░░░░░░░░░░░░░░░░░░░░ [0/1] Installing wheels...                                 warning: Failed to hardlink files; falling back to full copy. This may lead to degraded performance.
         If the cache and target directories are on different filesystems, hardlinking may not be supported.
         If this is intentional, set `export UV_LINK_MODE=copy` or use `--link-mode=copy` to suppress this warning.
Installed 1 package in 14ms.11
 + psycopg2-binary==2.9.11

In [25]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/taxi')

In [26]:
print(pd.io.sql.get_schema(df_green, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [27]:
print(pd.io.sql.get_schema(df_zones, name='zones_data', con=engine))

CREATE TABLE zones_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [41]:
df_green.head(0).to_sql(name='green_taxi_data', con=engine, if_exists = 'replace', index=False)

0

In [40]:
df_zones.to_sql(name='zones_data', con=engine, if_exists = 'replace', index=False)

265

In [42]:
chunksize = 10000

In [43]:
for i in range(0, len(df_green), chunksize):
    chunk = df_green.iloc[i:i+chunksize]
    chunk.to_sql("green_taxi_data", engine, if_exists="append", index=False)
    print("inserted", i, "to", i + len(chunk) - 1)

inserted 0 to 9999
inserted 10000 to 19999
inserted 20000 to 29999
inserted 30000 to 39999
inserted 40000 to 46911